.hero{
    background:#3b5d50 ;
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 100px;
}
.herotemp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    line-height: 40px;
    padding-left: 10%;
}
/* .hero_write{
    margin-left: 20%;
} */
.herotemp h2{
    width: 100%;
    font-size: 45px;
    font-weight: 900;
    color: white;

}
.herotemp p{
    color: rgba(255, 255, 255, 0.403);
}
.herotemp img{
 padding-top: 90px;
 width:100%;
}
.shop{
    color: black;
    background-color: #f9bf29;
    width: 200px;
    border-radius: 80px;
    height: 80px;
    outline: none;
    border: none;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
}
.exploar{
    background-color: transparent;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.363);
    color: white;
    font-weight: 500;
    height: 80px;
    border-radius: 80px;
    font-size: 20px;

}
.exploar:hover{
    border: 1px solid white;

}
@media (min-width: 1201px) and (max-width: 1401.98px) {  
    .hero{
        margin-top: 0;
        height: auto;   
        padding-top: 250px;     
    }
    .herotemp{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        line-height: 40px;
    }
    .herotemp h2{
        width: auto;
    }
    .herotemp p{
        width: 350px;
    }
    .herotemp img{
        width:100%;
        margin-top: 0;
        object-fit: contain;
    }
    .hero-btn .shop{
        margin-bottom: 15px;
    }
    .herotemp .exploar{
        margin-bottom: 0;
    }
 }

@media (min-width: 993px) and (max-width: 1200px) { 
    .herotemp{
        flex: 1;
        flex-direction: column;
        box-sizing: border-box;
        display: grid;
        text-align: center;
        width: 100%;
        padding-top: 250px;
        text-align: center;
    }
    .herotemp h2{
        width: auto;
    }
    .herotemp img{
        width:100%;
        margin-top: 0;
        margin-right: 10px;
        object-fit: contain;
    }
 }

 @media (min-width: 520px) and (max-width: 992px) { 
    .herotemp{
        flex: 1;
        flex-direction: column;
        box-sizing: border-box;
        display: grid;
        text-align: center;
        width: 100%;
        padding-top: 150px;
        text-align: center;
    }
    .herotemp img{
        width:100%;
        margin-top: 0;
        margin-right: 10px;
        object-fit: contain;
    }
    .herotemp h2{
        width: auto;
    }
}
 @media (max-width: 520px) {
    .hero{
        flex-direction: column;
        width: 100%;
    }
    .herotemp{
        flex: 1;
        flex-direction: column;
        box-sizing: border-box;
        display: grid;
        width: 100%;
        padding-top: 150px;
        text-align: center;
    }
    .herotemp img{
        width:100%;
        margin-top: 0;
        object-fit: contain;
    }
    .herotemp h2{
        width: auto;
    }
    .hero-btn .shop{
        margin-bottom: 15px;
    }
    .herotemp .exploar{
        margin-bottom: 0;
    }
  }

