.service{
background-color: #eee;
width: 100%;
height: auto;
}

.servic_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 85%;
    margin: auto;
    padding: 10px 50px;
    gap: 70px 20px;
}
@media (max-width: 1200px){
    .servic_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin: auto;
        padding: 10px 50px;
        gap: 70px 20px;
    }
}
@media (max-width: 920px){
    .servic_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin: auto;
        padding: 10px 50px;
        gap: 70px 20px;
    }
}
@media (max-width: 720px){
    .servic_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin: auto;
        padding: 10px 50px;
        gap: 70px 20px;
    }
}